<div id="content" class="site-content">
	<div id="blog-wrapper">
		<div class="blog-holder center-relative">
			<article id="post-1" class="blog-item-holder featured-post">
				<div class="entry-content relative">
					<div class="content-1170 center-relative">
						<div class="cat-links">
							<ul>
								<li>
									<a href="#">Crafting</a>
								</li>
							</ul>
						</div>
						<div class="entry-date published">
							February 12, 2016
						</div>
						<h2 class="entry-title">
							<a href="single.html"
								>Whatever is begun in anger ends in shame</a
							>
						</h2>
						<div class="excerpt">
							Now when I had mastered the language of this water
							and had come to know every trifling feature that
							bordered the great river as familiarly as I knew the
							letters of the alphabet, I had made a valuable
							acquisition. I still keep in mind a certain
							wonderful sunset which I witnessed when and
							steamboating<a
								class="read-more"
								href="single.html"
							></a>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</article>

			<article id="post-2" class="blog-item-holder">
				<div class="entry-content relative">
					<div class="content-1170 center-relative">
						<h2 class="entry-title">
							<a href="single.html">I like to reinvent myself</a>
						</h2>
						<div class="cat-links">
							<ul>
								<li>
									<a href="#">Science</a>
								</li>
							</ul>
						</div>
						<div class="entry-date published">
							February 12, 2016
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</article>

			<article id="post-3" class="blog-item-holder">
				<div class="entry-content relative">
					<div class="content-1170 center-relative">
						<h2 class="entry-title">
							<a href="single.html">Everything is design</a>
						</h2>
						<div class="cat-links">
							<ul>
								<li>
									<a href="#">Art</a>
								</li>
							</ul>
						</div>
						<div class="entry-date published">
							February 12, 2016
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</article>

			<article id="post-4" class="blog-item-holder">
				<div class="entry-content relative">
					<div class="content-1170 center-relative">
						<h2 class="entry-title">
							<a href="single.html">It’s all about experience</a>
						</h2>
						<div class="cat-links">
							<ul>
								<li>
									<a href="#">Life</a>
								</li>
							</ul>
						</div>
						<div class="entry-date published">
							February 12, 2016
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</article>

			<article id="post-5" class="blog-item-holder">
				<div class="entry-content relative">
					<div class="content-1170 center-relative">
						<h2 class="entry-title">
							<a href="single.html">This is not my code</a>
						</h2>
						<div class="cat-links">
							<ul>
								<li>
									<a href="#">Coding</a>
								</li>
							</ul>
						</div>
						<div class="entry-date published">
							February 12, 2016
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</article>

			<article id="post-6" class="blog-item-holder">
				<div class="entry-content relative">
					<div class="content-1170 center-relative">
						<h2 class="entry-title">
							<a href="single.html">Support human activity</a>
						</h2>
						<div class="cat-links">
							<ul>
								<li>
									<a href="#">Advocacy</a>
								</li>
							</ul>
						</div>
						<div class="entry-date published">
							February 12, 2016
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</article>
		</div>
		<div class="clear"></div>
		<div class="block load-more-holder">LOAD MORE ENTRIES</div>
	</div>

	<div class="featured-image-holder">
		<div
			class="featured-post-image"
			style="background-image: url(/demo-images/featured-image.jpg)"
		></div>
	</div>
	<div class="clear"></div>
</div>
